//Colors
$mainColor: white;
$secondaryColor: black;
$mainTextColor: black;
$secondaryTextColor: white;
//Fonts
$mainType: Helvetica;
//Text sizes
$xlongSizeText: calc(1.5vh + 1.5vw);
$longSizeText: calc(1vh + 1vw);
$mediumSizeText: calc(0.8vh + 0.8vw);
//Margin sizes
$xxLongMargin: calc(5vw + 2.5vh);
$longMargin: calc(1vw + 1vh);
$mediumMargin: calc(1vw + 1vh);
$littleMargin: calc(0.5vw + 0.5vh);
//Others
$blackCenteredDivsHeight: 10vh;
$blackCenteredDivsWidth: 10vw;
$centeredDivsWidth: 80vw;
$semiFullWidth: 80vw;
$fullWidth: 100vw;
$fullHeight: 100vh;
$semiCircleBorderRadius: 10vw;
$centeredDivsLeftMargin: 10vw;

.mainDiv{
    width: $fullWidth;
    height: $fullHeight;
    display: inline-block;
}

.mainTitle{
    font-size: $xlongSizeText;
    font-family: $mainType;
    text-align: center;
    font-weight: bold;
}

.secondaryTitle{
    font-size: $longSizeText;
    font-family: $mainType;
    margin-top: $littleMargin;
    display: inline-block;
    margin-right: $longMargin;
    font-weight: bold;
}

.specialTitle{
    font-size: $longSizeText;
    font-family: $mainType;
    margin-top: $xxLongMargin;
    display: inline-block;
    margin-right: $longMargin;
    font-weight: bold;
}


.standardText{
    font-size: $mediumSizeText;
    font-family: $mainType;
    display: inline-block;
}

.fullWidthDiv{
    width: $fullWidth;
    display: inline-block;
    text-align: center;
    margin-top: $mediumMargin;
    margin-bottom: $mediumMargin;
}

.centeredDiv{
    width: $centeredDivsWidth;
    margin-left: $centeredDivsLeftMargin;
    display: inline-block;
    text-align: center;
    margin-top: $mediumMargin;
    margin-bottom: $mediumMargin;
}

.blackCenteredDiv{
    width: $semiFullWidth;
    height: $blackCenteredDivsHeight;
    margin-left: $blackCenteredDivsWidth;
    background-color: $secondaryColor;
    border-radius: $mediumMargin;
    margin-top: $mediumMargin;
}

.dataTitlesTableFormat{
    width: $semiFullWidth;
    height: $blackCenteredDivsHeight;
    margin-left: $blackCenteredDivsWidth;
    border-radius: $mediumMargin;
    margin-top: $mediumMargin;
}

.standardBtn{
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-left: 1vw;
    height: 4vh;
    width: 8vw;
    font-size: $mediumSizeText;
    font-family: $mainType;
    border-radius: $semiCircleBorderRadius;
    background-color: $mainColor;
    color: $mainTextColor;
    border: 1px solid $mainColor;
}

.addBtn{
    margin-left: $littleMargin;
    margin-right: $littleMargin;
    font-size: $mediumSizeText;
    font-family: $mainType;
    border-radius: $semiCircleBorderRadius;
    display: inline-block;
    border: 1px solid $secondaryColor;
}

.carsTableTitles{
    position: relative;
    display: inline-block;
    font-size: $longSizeText;
    font-family: $mainType;
    font-weight: bold;
    width: $blackCenteredDivsWidth;
    text-align: center;
}


.carComponentText{
    width: $blackCenteredDivsWidth;
    height: $blackCenteredDivsHeight;
    font-size: $mediumSizeText;
    font-family: $mainType;
    color: $secondaryTextColor;
}

.carComponentGood{
    vertical-align: middle;
    width: $blackCenteredDivsWidth;
    height: $blackCenteredDivsHeight;
    font-size: $mediumSizeText;
    font-family: $mainType;
    color: $secondaryTextColor;
    background-color: green;
}

.carComponentBad{
    text-align: center;
    width: $blackCenteredDivsWidth;
    height: $blackCenteredDivsHeight;
    font-size: $mediumSizeText;
    font-family: $mainType;
    color: $secondaryTextColor;
    background-color: red;
}

.carComponentImages{
    width: $blackCenteredDivsWidth;
    height: $blackCenteredDivsHeight;
    font-size: $mediumSizeText;
    font-family: $mainType;
    color: $secondaryTextColor;
    border-top-left-radius: $mediumMargin;
    border-bottom-left-radius: $mediumMargin;
}
